<ion-header>

  <ion-navbar>
    <ion-title>Orden Detalle</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list >
    <ion-item *ngFor="let prod of _prods" text-wrap>
      <ion-thumbnail item-left>
          <img [src]="prod.imagen" onerror="this.src='assets/img/logo/logo_igb_small.png'"/>
        </ion-thumbnail>
        <h4>{{ prod.titulo }}</h4>
        <ion-row>
          <ion-col>
            <p> <b>{{ prod._id }}</b> </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p><b>Cantidad:</b> {{ prod.cant }} </p>
          </ion-col>
          <ion-col>
            <p><b>Total:</b> {{ prod.total | currency:'USD':'symbol': '1.0-0' }}</p>
          </ion-col>
        </ion-row>
    </ion-item>
  </ion-list>

  <accordion title="Error en la orden" color="danger" *ngIf="_error">
    {{ _error }}
  </accordion>

</ion-content>

<ion-footer>
  <ion-toolbar >
    <ion-row >
      <ion-col >
        <b>Codigo APP:</b>&nbsp; {{ navParams.data._id }}
      </ion-col>
      <ion-col *ngIf="navParams.data.docEntry">
        <b>Codigo SAP:</b>&nbsp; {{ navParams.data.docEntry }}
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-left>
          <b>Cliente: </b> {{ _cliente }} <br>
        </ion-col>
        <ion-col text-right>
          <b>Total+IVA: </b> {{ navParams.data.total | currency:'USD':'symbol': '1.0-0' }}
        </ion-col>
    </ion-row>
    <ion-row *ngIf="navParams.data.observaciones">
      <ion-col >
        <b>Observacion:</b>&nbsp; {{ navParams.data.observaciones }}
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-footer>
