<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid *ngIf="prodsService?.categorias.length == 0; else elseBlock">
    <ion-row>
      <ion-col text-center class="empty-categories">
          <ion-icon name="sync" class="icon-5x"></ion-icon>
          <br>
          Cargando espere por favor...
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #elseBlock>
    <ion-list >
      <button ion-item *ngFor="let cat of prodsService?.categorias" [navPush]="productosCategoriaPage" [navParams]="cat" >

        <h2>{{ cat.nombre }}</h2>
        <p>{{ cat.cantProds }} productos</p>
      </button>
    </ion-list>
  </ng-template>

</ion-content>
