<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid *ngIf="cartServ.carItems.length == 0; else elseBlock">
    <ion-row>
      <ion-col text-center class="empty-cart">
          <ion-icon name="cart" class="icon-5x"></ion-icon>
          <br>
          Su carrito esta vaci&oacute;
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #elseBlock>
    <ion-list>
      <ion-item-sliding *ngFor="let prod of _prods">

        <ion-item text-wrap>
          <ion-thumbnail item-left>
            <img [src]="prod.imagen">
          </ion-thumbnail>
          <h4>{{ prod.titulo }}</h4>
          <ion-row>
            <ion-col>
              <p> <b>{{ prod._id }}</b> </p>
              <p>{{ prod.aplicacion }}</p>
              <p>{{ prod.precio | currency:'USD':true }}</p>
            </ion-col>
            <ion-col text-right>
              <number-picker [num]="cartServ.getProdCant(prod)" [max]="prod.existencias" (numChange)="cartServ.setProdCant($event, prod)"></number-picker>
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item-options>
          <button ion-button icon-right color="danger" (click)="deleteItem(prod)">
            <ion-icon name="trash"></ion-icon>
            Borrar
          </button>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>

  </ng-template>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-right solid color="royal" [navPush]="confirmarOrdenPage" [disabled]="cartServ.carItems.length == 0">
        Continuar
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>
      <!--<button ion-button icon-right solid color="royal" (click)="cartServ.destroyDB()">
          delDB
      </button>-->
    </ion-buttons>
    <ion-buttons right>
      <b>Subtotal:</b> {{ cartServ.subTotalPrice | currency:'USD':true }} <br>
      <b>IVA:</b> {{ cartServ.ivaPrice | currency:'USD':true }} <br>
      <b>Total:</b> {{ cartServ.subTotalPrice + cartServ.ivaPrice | currency:'USD':true }}
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
